<?xml version="1.0" encoding="utf-8"?><properties xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.mathsoft.com/extended-properties"><appVersion>2.0.1.0</appVersion><serializationVersion>2.0.1.0</serializationVersion><schemaPropertiesList><schemaProperties name="App" version="1.2.0" /><schemaProperties name="Calculation" version="1.2.2" /><schemaProperties name="Integration" version="1.2.0" /><schemaProperties name="Math" version="5.2.3" /><schemaProperties name="Presentation" version="1.2.0" /><schemaProperties name="Provenance" version="1.2.0" /><schemaProperties name="Result" version="1.2.0" /><schemaProperties name="SimpleTypes" version="1.2.0" /><schemaProperties name="Units" version="12.2.0" /><schemaProperties name="Worksheet" version="5.2.18" /></schemaPropertiesList></properties>