.lavaLampWithImage {
    position: relative;
    height: 50px;
    width: 850px;
    background: url("../images/common/button_bg1.jpg") repeat-x;
    margin: 10px 0;
    overflow: hidden;

    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    -border-radius:45px;
}
.lavaLampWithImage li {
    float: left;
    list-style: none;
    
}
.lavaLampWithImage li.back {
    width: 9px;
    height: 50px;
    z-index: 8;
    position: absolute;
}
.lavaLampWithImage li.back .left {
    background: url("../images/common/button_bg2.jpg") repeat-x top left;
    height: 50px;
    margin-right: 1px; /* 7px is the width of the rounded shape */
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    -border-radius:45px;
}
.lavaLampWithImage li a {
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0;
    z-index: 10;
    float: left;
    margin-top: 10px;
    position: relative;
    overflow: hidden;

    color: white;
    font-size: 15px;
    font-family: Comic Sans MS;
    width: 140px;
    height: 50px;
    text-align: center;
    display: block;
/**
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    -border-radius:45px;
    */
}
.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
    border: none;
    text-decoration: underline;
}

        