/* 
    Document   : Style
    Created on : 29 Aug, 2011, 10:46:11 PM
    Author     : PEPL
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



root
{
    background-color: gray;
}


body
{
    background-color:lightyellow ;

}


.layout
{
    background: url("../images/common/bg.jpg") repeat-x;
    background-color: #fefffa;
    width: 1000px;
    border: 2px solid #c89d2d;
    padding: 5px;
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;

}

/**
This code for the reference link at the bottom of the page
*/
.ref
{
    color: maroon;
}
.ref a
{
    color: maroon;
    text-decoration: none;

}

.ref a:hover
{
    color: maroon;
    font-weight: bold;
}

/**
End of the reference section
*/
.navig-menu
{
    margin: 0px;
    padding: 0px;
    width: 850px;
    height: 50px;
    list-style: none;
    vertical-align: top;
    background: url("../images/common/button_bg1.jpg") repeat-x ;

    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;
}

.navig-menu li
{

    width: 170px;
    height: 50px;
    float: left;

    /*
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    -border-radius:45px;
    */
}

.activeMenu
{
    font-weight: bold;
    background: url('../images/common/button_bg2.jpg') repeat-x;


    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;    
}

.navig-menu li a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Comic Sans MS;
    width: 170px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: block;    
}
.navig-menu li a:hover
{
    font-weight: bold;
    text-decoration-line: none;
    background: url('../images/common/button_bg2.jpg') repeat-x;


    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;    
}

.navig-menu li ul
{
    background-color: #666;

    display: none;
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;

}
.navig-menu li ul a
{
    background: url("../images/common/button_bg1.jpg") no-repeat;

}

.navig-menu li:hover ul
{
    display: block;
}

.roundedImg{
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;

}

.main{
    font-style:italic;
    font-family:'Brush Script MT','Lucida Handwriting',cursive;
    font-size: 28pt;
    text-align: center;
}

.services label:hover{
    font-weight: bold;
    text-decoration:none;
}

.services label
{
    text-decoration: underline;
}

.para{
    text-decoration: none;
    text-align:  justify;
    font-family:sans-serif;
    color:maroon;
    font-weight: bold;
    padding: 10px;

}
.para h3{
    color: maroon;
}
.para tr{
    vertical-align: top;
}
.para p{
    vertical-align: top;
    color: maroon;
}

.footer
{
    padding: 10px;
    height: 50px;
    background-color:  tan;
    color: maroon;
    font-weight: bolder;
    text-decoration: none;
    font-family:sans-serif;
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;
}

img{
    border: 2px solid tan;
}
.border
{

}

a:hover img
{
    border: 2px solid white;
    text-decoration: none;

}

/**
*   Gallery Divisino Starts Here
*/

.gallariesDiv
{
    padding: 10px;
}
.gallaryDiv
{
    /**border: 3px solid black;*/
}

.gallaryDiv span
{
    font-size: 20px;
    font-family: comic sans MS;
    color: maroon;
}
.gallaryDiv img
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

/**
*   Gallery Division Ends Here
*/
.services
{
    /**-webkit-border-radius:45px;
    -moz-border-radius:45px;
     border-radius:45px;*/
    border: 5px solid maroon;
    border-spacing: 5px;
    border-style:  ridge;

}

h1
{
    color: maroon;
    font-family: sans-serif;
}

p{
    text-align: justify;
}