.navbar-inverse {
    background-color: #2F4F4F;
    border-color: #2F4F4F;
	border-radius:0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2F4F4F;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.int{
	margin-top:50px;
}

@media screen and (min-width: 768px)
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}