body {

    margin: 0;

}

/* HEADER */

#header {

    background-color: #2F4F4F;
    height: 25px;

}

#header ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

#header ul li {

    margin: 0;
    display: inline-block;

}

#header ul li:nth-child(1) {

    margin-left: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;

}

#header ul li:nth-child(2) {

    float: right;
    margin-right: 15px;

}

#header ul li a {

    color: #fff;
    text-decoration: none;
    font-family: 'Oswald'

}

#header ul li a:hover {

    text-decoration: underline;

}

#header p {

    margin: 0;
    width: 20%;

}

/* SIDEBAR NAVIGATION */

#vertical-navbar {

    width: 20%;
    height: auto;
    float: left;
	
}

#sidebar {

    background-color: #4C7F7F;
    width:100;
    height: 665px;
	overflow-y: scroll;

}

#sidebar h4 {
    
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    
}

#sidebar h4:hover {
    
    text-decoration: underline;
    
}

#sidebar h4,ul li {
    
    font-weight: 300;
    
}

#sidebar h3, #sidebar h4, #sidebar li {

    font-family: 'Oswald', sans-serif;
    color: #fff;

}

#sidebar h3,h4 {

    margin: 0;
    margin-left: 3px;

}

#sidebar h3 {
    
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-bottom: 10px;
    
}

#sidebar ul{

    list-style-type: square;
    margin: 0;

}

#sidebar ul li {
    
    font-size: 14px;
    
}

#sidebar ul li:hover {

    text-decoration: underline;
    cursor: pointer;

}

.vid{
	
	margin:10px 200px;
	
}

.stack{
	height:400px;
	width: 800px;
	
}




