assetutilities

build
twine
bumpver

pyyaml
numpy
pandas
plotly
matplotlib
chardet
python-certifi-win32

webcolors
xlsxwriter
plantuml
pytest
deepdiff

pandoc
wkhtmltopdf
python-docx


black
isort
# poetry # why do we need poetry here? we are not using it anywhere. we use setup tools instead now.

scrapy
bs4

gitpython==3.1.31
excel2img; sys_platform == 'win32'

# imp
# git
# popplerqt5 Only available in linux systems
# pdfannots
# fitz
# camelot
# GitPython
# siva - adding this to make ``python -m assetutilities ./test_data/visualization/visualization_polar_plotly.yml``
PyPDF2
tabula
