assetutilities

build
twine
bumpver

pyyaml
numpy
pandas
plotly
matplotlib
chardet
python-certifi-win32

webcolors
xlsxwriter
plantuml
pytest
deepdiff

pandoc
wkhtmltopdf
python-docx

black
isort
poetry

gitpython==3.1.31
excel2img


# imp
# git
# popplerqt5 Only available in linux systems
# pdfannots
# fitz
# camelot
# tabula
# GitPython
# PyPDF2
