/* Contents */

#content {
    
    width: 99%;
    margin: auto;
    margin-top: 3px;
    
}

#content h2,p {
    
    font-family: Arial;
    
}

#content p {
    
    font-size: 13px;
    
}

.ui.horizontal.segments .ui.segment{
    
    width: 25%;
    
}

.ui.horizontal.segments .ui.segment h3,p, ul li {
    
    font-family: Arial;
    
}

.ui.horizontal.segments .ui.segment p, ul li {
    
    font-size: 13px;
    
}

