body {
    
    margin: 0;
    background-color: #fff;
    
}

/* HEADER SECTION */

#header {
    
    background-color: #1f1f1e;
    
}

#header h2 {
    
    margin: 0;
    color: white;
    font-family: 'Oswald', monospace;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    
}

/* SIDE NAV BAR SECTION */

#sidenav {
    
    width: 14%;
    float: left;
    display: none;
    position: fixed;
    top: 0px;
    
}

#sidenav .ui-accordion-header, .ui-accordion-content {
    
    font-family: 'Oswald', monospace;
    letter-spacing: 2px;
    
}

#sidenav .ui-accordion-content ul{
    
    list-style-type: none;
    
}

#sidenav .ui-accordion-content ul li {
    
    cursor: pointer;
    
}

#sidenav .ui-accordion-content ul li:hover {
    
    text-decoration: underline;
    
}

/* INTRODUCTION */

#introduction {
    
    width: 70%;
    margin: auto;
    height: 200px;
    background-color: #EAE8F0;
    
}

#introduction h2{
    
    font-family: 'Oswald', monospace;
    letter-spacing: 2px;
    text-align: center;
    
}

#introduction p {
    
    padding: 10px;
    font-family: 'Oswald', monospace;
    letter-spacing: 1px;
    
}

/* LINE CHART */

.chart_container {
    
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 770px;
    background-color: #EAE8F0;
    overflow: auto;
    
}

.chart_container h3{
    
    font-family: 'Oswald', monospace;
    letter-spacing: 2px;
    text-align: center;
    padding: 5px;
    color: black;
    
}

/* TABLE */

.table_container {
    
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 250px;
    background-color: #EAE8F0;
    overflow: hidden;
    
}

.table_container h3{
    
    font-family: 'Oswald', monospace;
    letter-spacing: 2px;
    text-align: center;
    
}
.table tr, td, th {
    
    border: 1px solid black;
    font-family: 'Oswald', monospace;
    letter-spacing: 1px;
    
}

.table {
    
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    width: 20%;
    
}

.table_container p {
    
    font-family: 'Oswald', monospace;
    letter-spacing: 1px;
    
}

/* TEXT CONTAINER */

.text_container {
    
    width: 70%;
    margin: auto;
    background-color: #EAE8F0;
    
}

.text_container h3 {
    
    text-align: center;
    font-family: 'Oswald', monospace;
    letter-spacing: 2px;
    
}

.text_container p {
    
    padding: 10px;
    font-family: 'Oswald', monospace;
    letter-spacing: 1px;
    
}

/* PICTURE CSS */
.picture_container {
    
    width: 70%;
    margin: auto;
    background-color: #EAE8F0;
    height: 400px;
    
}

.picture_container h3 {
    
    font-family: 'Oswald', monospace;
    letter-spacing: 2px;
    text-align: center;
    
}

.picture_container img {
    
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 400px;
    
}

.picture_container p {
    
    margin-right: 10px;
    font-family: 'Oswald', monospace;
    letter-spacing: 1px;
    
}