/* fixed top nav bar */

.navbar {
    position: relative;
  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    flex-direction: column;
    padding: .5rem 1rem;
}



.navbar-default {
    background-color: #264040;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #fff;
	font-size:15px;
	font-weight:bold;
}

.mt-0 {
  margin-top: 40 !important;
}


.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #264040;
}

/* side menu bar */

.w3-sidenav {
    height: 100%;
    width: 280px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
	top:opx;
}
.w3-sidenav a, .w3-dropnav a {
    display: block;
    color: #fff;
	margin-left:25px;
}
.jt{
	margin-top:100px;
}

.left{
	margin-left:15px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
   
    height: auto;
	max-height:550px;
	
}

.img_arial{
	text-decoration:none;
	text-align:center;
	margin-top:20px;
	margin-bottom:30px;
}

a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    color: black;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    color: black;
}

/* chart style sheet */
.chart-container svg {
    height: 500px;
    width: 800px;
    margin: 0 auto;
}
svg.nvd3-svg {
    
    user-select: none;
    display: block;
    
}

html|* > svg {
    transform-origin: 50% 50% 0px;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

* {
    transform-origin: 0px 0px 0px;
}

/* .chart-container design */
.chart-container {
    background-color:#ffff;
    

}

/* Header for every chart and container */
.chart-container h2{
     background-color:#ffff;
}

/* 8P_ET along high Tension Line1 */

.chart-container svg{

    height: 500px;
    
    margin: 0 auto;

}
.ch{
	height:500px;
	min-height:500px;
	margin-top:120px;
}

@media (max-width:767px) {
#btnPrint {
visibility:hidden
}
}


/* paragraph styles */

p {
    margin: 0 30px 10px;
}
.hst{
	margin: 0 10px 10px;
}

.hst2{
	margin: 0 20px 10px;
}

.thumbnail {
   
    border: none;
    border-radius:0px;
    
}

.text-justify {
    text-align: justify;
   
    
}

/* scroll up arrow */

.fa-arrow-up:before {
    content: "\f062";
    font-size: 40px;
}
	
	
.txt-style{
	background-color:pink;
color:#fff;
font-size:20px;
}	
	
	