/* Customer base content */

#content {
    
    width: 99%;
    margin: auto;
    margin-top: 3px;
    
}

#customer-content h3, p, ul li{
    
    font-family: Arial;
    
}

#customer-content p, ul li {
    
    font-size: 13px;
    
}

#customer-content ul {
    
    display: inline-block;
    
}

/* Projects - content */

#projects-content .ui.horizontal.segments .ui.segment{
    
    width: 25%;
    
}

#projects-content .ui.horizontal.segments .ui.divider {
    
    margin-bottom: 10px;
    
}

#projects-content h3, p, ul li{
    
    font-family: Arial;
    
}

#projects-content p, ul li {
    
    font-size: 13px;
    
}

#projects-content .ui.segment img {
    
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    
}